body,
input,
textarea {
    font-family: 'Roboto';
}
body {
    background-color: #f6f6f6;
}
input,
textarea {
    font-size: 14px;
}
@mixin cardshadow {
    background: #f6f6f6;
    box-shadow: 12px 10px 25px #cfd7e1, -3px -3px 16px 6px #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.page {
    background-color: #f6f6f6;
    font-family: 'Roboto';
}

.meriter.page {
    margin: 0 auto;
    max-width: 500px;
}
.meriter .header {
    margin: 0 auto;
    max-width: 500px;
}

@import './components/css/community.scss';
@import './components/css/spaceeditor.scss';
@import './components/css/balance.scss';
@import './../../bots/chatmessages/chatmessages.scss';
.meriter {
    button {
        background: #247fcc;
        color: white;
        border: none;
        border-radius: 5px;
    }
    .feed .t {
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.5;
    }
    .cover > .h {
        font-size: 24px;
        letter-spacing: -0.03em;
        font-weight: 700;
        color: #247fcc;
        line-height: 1em;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cover {
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .cover .t {
        margin-top: 0.5em;
    }
    .description {
        font-size: 24px;
    }
    img.logo {
        height: 50px;
        opacity: 0.8;
    }

    section > .h {
        font-size: 18px;
        font-weight: 700;
        color: #247fcc;
    }

    section {
        margin-bottom: 30px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        padding-bottom: 30px;
    }

    .publication-actions {
        margin: 0 auto;
        max-width: 500px;
    }
    .publication-actions-wrap {
        display: grid;
        grid-template-columns: 90px 1fr 90px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .publication-actions-wrap .plus {
        cursor: pointer;
    }
    .publication-actions-wrap .sum {
        cursor: pointer;
    }
    .publication-actions-wrap .minus {
        cursor: pointer;
    }
    .publication-comments {
        margin: 0 auto;
        max-width: 460px;
        padding: 20px;
    }

    .publication-comments textarea {
        display: block;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        height: 100px;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    button.auth-button {
        width: 100%;
        border: none;
        background-color: #2380cc;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
    }
    .publication-comments button {
        width: 100%;
        border: none;
        background-color: #2380cc;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
    }
    .range {
        display: grid;
        width: 100%;
        grid-template-columns: 50px 1fr;
    }
    .range input[type='number'] {
        background: none;
        outline: none;
        border: none;
        text-align: center;
    }

    .publication-comments .amount {
        color: #4b4b4b;
        font-weight: bold;
    }
    .publication-comments .from {
        color: #4b4b4b;
    }

    .header {
        padding: 10px;
    }
    .header .title {
        color: #2380cc;
        font-size: 30px;
        font-weight: 300;
    }
    .header .descrtiption {
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .info {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .comments {
        padding-top: 20px;
    }
    .comment {
        margin-top: 10px;
        border-bottom: solid 1px #dcdcdc;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .publication {
        padding-bottom: 30px;
    }

    iframe .widget_frame_base a {
        color: black;
    }
    .h1 {
        font-size: 24px;
    }

    img.inline {
        max-height: 0.8em;
    }

    .error {
        color: #813205;
    }
    .transaction-comments{
        padding-left: 15px;

    }
}
