.bar-withdraw {
    display: grid;
    grid-template-columns: 1fr 160px;
    padding: 10px 20px;
    .left-info {
        margin-top: 0.6em;
        img {
            width: 1.5em;
        }
    }
    .withdraw-widget {
        background: #f6f6f6;
        border: 0.5px solid #ecf1f5;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        font-weight: 700;
        color: #83cee4;

        box-shadow: -2px -2px 2px #f4f7f9, 3px 3px 4px #e1e6ed, inset -1px -1px 4px rgba(255, 255, 255, 0.7), inset 2px 2px 2px #d3dbe5;
        border-radius: 11px;
        .withdraw {
            font-size: 16px;
        }
        .topup {
            img {
                margin-bottom: -4px;
            }
            font-size: 16px;
        }
        .count {
            margin: 0px 10px;
        }
    }
    .bar-withdraw-select {
        color: #83cee4;
    }
    .bar-withdraw-select-active {
        color: #83cee4;
        font-weight: 700;
    }
}
