@import './accordeon-with-summary.scss';
@import './widget-avatar-balance.scss';
@import './header-avatar-balance.scss';
@import './menu-breadcrumbs.scss';
@import './card-publication.scss';
@import './icon-picker.scss';
@import './bar-vote.scss';
@import './spaceeditor.scss';
@import './bar-withdraw.scss';
@import './form-comment-vote.scss';
@import './form-dimensions-editor.scss';
@import './form-withdraw.scss';
@import './card-comment-vote.scss';
@import './card-with-avatar.scss';
@import './simple/simple.scss';

.line-shadow {
    height: 7px;
    background: #f6f6f6;
    box-shadow: inset -6px -4px 4px #f7f9fb, inset 4px 4px 3px #d0d9e3;
    border-radius: 19px;
    margin-bottom: 10px;
}

.meriter.page {
    padding: 15px;
}
