.card-andor {
    padding: 20px 10px;
    opacity: 0.8;
}

.card-andor {
    cursor: pointer;
    .left {
        display: inline-block;
        transition: transform 1s;
    }
    .right {
        display: inline-block;
        transition: transform 1s;
    }
    .andor {
        position: relative;
        display: inline-block;
        width: 2em;
    }
    .or {
        opacity: 1;
        position: absolute;
        transition: opacity 1s;
        text-align: center;
        width: 2em;
        font-weight: 400;
    }
    .and {
        opacity: 0;
        transition: opacity 1s;
        text-align: center;
        width: 2em;
        margin-left: 0.6em;
    }
    .question-letter {
        opacity: 1;
        transition: opacity 0.5s;
    }
}

.card-andor.hover {
    .left {
        transform: translateX(7px);
    }
    .right {
        transform: translateX(-7px);
    }
    .or {
        //display: none;
        opacity: 0;
    }
    .and {
        opacity: 1;
    }
    .question-letter {
        opacity: 0;
    }
}

.card-andor.chosen {
    opacity: 1;
}
