@mixin cardshadow {
    background: #f6f6f6;
    box-shadow: 12px 10px 25px #cfd7e1, -3px -3px 16px 6px #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
}

.page {
    background-color: #f6f6f6;

}

textarea,
input {

}
