.chatmessages {
    display: grid;
    gap: 20px;
}
.chatmessages .chatmessage {
    /* Rectangle 34 */
    @include cardshadow;

    .text {
        padding: 20px;
    }
    .author {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 10px;
        .info {
            .name {
                font-size: 12px;
            }
        }
        .avatar img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
        .date {
            font-size: 10px;
        }
    }
}
