.form-comment-vote {
    padding: 10px;
    .send-wrapper {
        display: grid;

        grid-template-columns: 1fr 50px;
        textarea {
            font-family: '';
            box-sizing: border-box;
            background: #f6f6f6;
            width: 100%;
            border: none;
            box-shadow: inset -6px -4px 4px #f7f9fb, inset 4px 4px 3px #d0d9e3;
            border-radius: 19px;
            padding: 15px;
            outline: none;
            resize: none;
        }
        .add-comment-button {
            display: flex;
            /* align-items: end; */
            flex-direction: column-reverse;
        }
    }

    .rc-slider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rc-slider-rail {
        background-color: #b5e1eb;
        height: 7px;
    }
    .rc-slider-track {
        background-color: #b5e1eb;
        height: 7px;
    }
    .rc-slider-handle {
        border-color: #69d0e7;
        background-color: #69d0e7;
        width: 17px;
        height: 17px;
    }

    &.minus {
        .rc-slider-rail {
            background-color: #e6c3c3;
            height: 7px;
        }
        .rc-slider-track {
            background-color: #e6c3c3;
            height: 7px;
        }
        .rc-slider-handle {
            border-color: #e76d69;
            background-color: #e76d69;
            width: 17px;
            height: 17px;
        }
    }
    &.neutral {
        .rc-slider-rail {
            background-color: #cecece;
            height: 7px;
        }
        .rc-slider-track {
            background-color: #cecece;
            height: 7px;
        }
        .rc-slider-handle {
            border-color: #c2c2c2;
            background-color: #c2c2c2;
            width: 17px;
            height: 17px;
        }
    }
}
