.form-dimensions-editor {
    margin-top: 30px;
    margin-bottom: 30px;
    .cat-enum{
        margin-bottom: 20px;
        .label{
            margin-bottom: 10px;
        }
        .tag{
            padding: 3px 5px;
            margin: 5px;
            background: #e3f5fa;
            border-radius: 3px;
        }
        .tag.selected{
             background: #83CEE5;    
        }
    }
  
}
